.vgrid-nodata(
  v-if="!total",
)
  span(v-if="!isFiltered") {{ strEmptyData }}
  span(v-else) {{ strEmptyFilteredData }}
slot(
  name="body",
  v-if="!isEmptyData",
  :entries="showedData",
  :visible-cols="visibleCols"
)
  .vgrid-row
    .vgrid-col(
      :class="cardColumnClasses",
      v-for="(entry, entryIndex) in showedData"
    )
      slot(
        :entry="entry",
        :index="entryIndex",
        :visible-cols="visibleCols"
      )
        .vgrid-entry-wrapper
          ColumnType(
            v-for="col in visibleCols"
            :column="col",
            :data="entry",
            :key="col.id",
            :resize="true",
            :class="columnClasses[col.field]",
          )
            slot(
              :name="'column-' + col.field", 
              :entry="entry",
              :index="entryIndex"
            )
