.vgrid-footer
  slot(name="footer")
    slot(name="footer-start")
    PageSize(
      v-if="pagable",
      v-model="limit",
      :sizes="pageSizes",
    )
    template(v-if="!cursorPagination")
      GridStatus(
        v-if="statusable",
        :limit="limit",
        :current-page="currentPage",
        :showed="showedData.length",
        :total="total"
      )
    template(v-if="pagination")
      slot(name="pagination")
        CursorPagination(
          v-if="cursorPagination"
          v-model="currentPage",
          :meta="meta",
        )
        Pagination(
          v-else,
          v-model="currentPage",
          :limit="limit",
          :total="total",
        )
    slot(name="footer-end")

  .vgrid-devbar(v-if="debug")
    .vgrid-col-9
      pre {{ dataQuery }}
    .vgrid-col-3.vgrid-align-right
      span(v-if="isLoading") Loading..
