.vgrid-footer
  slot(name="footer")
    slot(name="footer-start")
    PageSize(
      v-if="pagable",
      v-model="gridState.limit",
      :sizes="gridState.pageSizes",
    )
    GridStatus(
      v-if="statusable",
      :limit="gridState.limit",
      :current-page="gridState.currentPage",
      :showed="dataState.records.length",
      :total="dataState.total"
    )
    Pagination(
      v-if="pagination",
      v-model="gridState.currentPage",
      :limit="gridState.limit",
      :total="dataState.total",
    )
    slot(name="footer-end")

  .vgrid-devbar(v-if="gridOption.debug")
    .vgrid-col-9
      pre {{ dataState.query }}
    .vgrid-col-3.vgrid-align-right
      span(v-if="isLoading") Loading..
