.vgrid-footer
  slot(name="footer")
    slot(name="footer-start")
    PageSize(
      v-if="pagable",
      v-model="gridState.limit",
      :sizes="gridState.pageSizes",
    )
    template(v-if="!cursorPagination")
      GridStatus(
        v-if="statusable",
        :limit="gridState.limit",
        :current-page="gridState.currentPage",
        :showed="dataState.records.length",
        :total="dataState.total"
      )
    template(v-if="pagination")
      slot(name="pagination")
        CursorPagination(
          v-if="cursorPagination"
          v-model="gridState.currentPage",
          :meta="dataState.meta",
        )
        Pagination(
          v-else,
          v-model="gridState.currentPage",
          :limit="gridState.limit",
          :total="dataState.total",
        )
    slot(name="footer-end")

  .vgrid-devbar(v-if="gridOption.debug")
    .vgrid-col-9
      pre {{ gridState.query }}
    .vgrid-col-3.vgrid-align-right
      span(v-if="gridState.isLoading") Loading..
