.vgrid-header
  slot(name="header")
    slot(name="header-start")
    block search
      GridSearch(
        v-model="searchKeyword",
        :placeholder="searchPlaceholder",
        v-if="searchable"
      )
    block filter
      GridFilter(
        v-if="filterable && hasColumnFilter",
        v-model="where",
        :columns="columns"
      )
    block order
      GridOrder.vgrid-ml-auto(
        v-if="orderable && hasColumnOrder",
        v-model="order",
        :has-sort-type="hasSortType",
        :columns="columns"
      )
    block visibility
      ColumnsVisibility.vgrid-ml-auto(
        v-if="columnVisible"
        :columns="columns",
        v-model="columnVisibility",
      )
    block export
      ExportButton.vgrid-ml-auto(
        v-if="exportable"
        :columns="visibleCols",
        :data="dataState.records",
        :file-name="exportFileName"
      )
    slot(name="header-end")
