.vgrid-nodata(
  v-if="!total",
)
  span(v-if="!isFiltered") {{ strEmptyData }}
  span(v-else) {{ strEmptyFilteredData }}
slot(
  v-if="!isEmptyData",
  name="body",
  :entries="showedData",
  :visible-cols="visibleCols"
)
  .vgrid-responsive
    table.vgrid-table
      slot(
        name="table-head",
        :cols="visibleCols",
      )
        thead
          tr
            th.vgrid-field-header(
              v-for="col in visibleCols",
              @click="setOrder(col.field)",
              :class="col.headerClasses"
              :key="col.id"
            )
              .vgrid-field-header-content
                slot(
                  :name="'column-header-' + col.field",
                  :col="col"
                )
                  span {{ col.showedLabel }}
                  b(
                    :class="col.orderClasses"
                  )
      slot(
        name="table-body",
        :entries="showedData",
      )
        tbody
          tr.vgrid-table-filter(
            v-if="columnFilterable && hasColumnFilter"
          )
            td(
              v-for="col in visibleCols",
              :key="col.field",
            )
              ColumnFilter(
                :column="col",
                v-model="where[col.field]",
              )
          tr(
            v-for="(entry, entryIndex) in showedData",
          )
            slot(
              :entry="entry",
              :index="entryIndex",
              :visible-cols="visibleCols"
            )
              td(
                v-for="col in visibleCols",
                :key="col.field"
              )
                ColumnType(
                  :column="col",
                  :data="entry",
                  :class="col.columnClasses",
                )
                  slot(
                    :name="'column-' + col.field",
                    :entry="entry",
                    :index="entryIndex"
                  )
