.vgrid-nodata(
  v-if="!total",
)
  span(v-if="!isFiltered") {{ strEmptyData }}
  span(v-else) {{ strEmptyFilteredData }}
slot(
  v-if="!isEmptyData",
  name="body",
  :entries="showedData",
  :visible-cols="visibleCols"
)
  .vgrid-responsive
    table.vgrid-table
      thead
        tr
          th.vgrid-field-header(
            v-for="col in visibleCols",
            @click="setOrder(col.field)",
            :class="headerColumnClasses(col)"
            :key="col.id"
          )
            .vgrid-field-header-content
              slot(
                :name="'column-header-' + col.field",
                :col="col"
              )
                span {{ (col.label || col.field) | vgrid_header }}
                b(
                  :class="orderableColumnClasses(col)"
                )
      tbody
        tr.vgrid-table-filter(
          v-if="columnFilterable && hasColumnFilter"
        )
          td(
            v-for="col in visibleCols",
            :key="col.field",
          )
            ColumnFilter(
              :column="col",
              v-model="where[col.field]",
            )
        tr(
          v-for="(entry, entryIndex) in showedData",
        )
          slot(
            :entry="entry",
            :index="entryIndex",
            :visible-cols="visibleCols"
          )
            td(
              v-for="col in visibleCols",
              :key="col.field"
            )
              ColumnType(
                :column="col",
                :data="entry",
                :key="col.id",
                :class="columnClasses[col.field]",
              )
                slot(
                  :name="'column-' + col.field", 
                  :entry="entry", 
                  :index="entryIndex"
                )
