.vgrid-nodata(
  v-if="!hasRecord",
)
  span(v-if="!isFiltered") {{ strEmptyData }}
  span(v-else) {{ strEmptyFilteredData }}
slot(
  name="body",
  v-if="!isEmptyData",
  :entries="dataState.records",
  :visible-cols="visibleCols"
)
  .vgrid-responsive
    table.vgrid-table
      slot(
        name="table-head",
        :cols="visibleCols",
      )
        thead
          tr
            th.vgrid-field-header.abcd(
              v-for="col in visibleCols",
              @click.stop="setOrder(col.field)",
              :class="col.headerClasses"
              :key="col.id"
            )
              .vgrid-field-header-content
                slot(
                  :name="'column-header-' + col.field",
                  :col="col"
                )
                  span {{ col.showedLabel }}
                  b(
                    v-if="gridOption.orderable && col.order",
                    :class="col.orderClasses"
                  )
      slot(
        name="table-body",
        :entries="dataState.records",
      )
        tbody
          tr.vgrid-table-filter(
            v-if="columnFilterable && hasColumnFilter"
          )
            td(
              v-for="col in visibleCols",
              :key="col.field",
            )
              ColumnFilter(
                v-if="col.filter",
                :column="col",
                v-model="gridState.where[col.field]",
              )
          tr(
            v-if="!hasRecord",
          )
            td(:colspan="visibleCols.length")
              span(v-if="!isFiltered") {{ strEmptyData }}
              span(v-else) {{ strEmptyFilteredData }}
          template(v-else)
            tr(
              v-for="(entry, entryIndex) in dataState.records",
            )
              slot(
                :entry="entry",
                :index="entryIndex",
                :visible-cols="visibleCols"
              )
                td(
                  v-for="col in visibleCols",
                  :key="col.field"
                )
                  ColumnType(
                    :column="col",
                    :data="entry",
                    :class="col.columnClasses",
                  )
                    slot(
                      :name="'column-' + col.field",
                      :entry="entry",
                      :index="entryIndex"
                    )
